body{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
li{
    list-style: none;
}
.navbar{
    height: 20%;
    width: 100%;
}
.navbar-background{
    background-color: green;
}
.navbar-background li{
    color: red;
    display: flex;
    position: relative;
}